.banner {
  height: 450px;
  width: 100%;
  position: relative;
}
.banner .sowingMap {
  position: relative;
  height: 100%;
  width: 100%;
}
.banner .sowingMap li {
  width: 100%;
  height: 450px;
  position: absolute;
}
.banner .sowingMap li a {
  display: inline-block;
  width: 100%;
  height: 450px;
}
.banner .sowingMap_tip {
  position: absolute;
  z-index: 10;
  display: flex;
  bottom: 30px;
  left: 50%;
  margin-left: -85px;
}
.banner .sowingMap_tip li {
  border: 1px solid #fff;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin-right: 10px;
}
.banner .menu {
  position: absolute;
  z-index: 10;
  top: 0;
  height: 450px;
  margin-left: 160px;
}
.banner .menu .menuLi {
  height: 75px;
  width: 240px;
  background: #3a3a3a;
  opacity: 0.5;
  padding: 10px 0 0 10px;
  box-sizing: border-box;
}
.banner .menu .menuLi .menuInfo {
  position: relative;
}
.banner .menu .menuLi .menuInfo p {
  margin-bottom: 5px;
}
.banner .menu .menuLi .menuInfo p a {
  color: white;
  font-size: 14px;
}
.banner .menu .menuLi .menuInfo i {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 14px;
  color: white;
}
.banner .menu .menuLi .menuBox {
  display: none;
  top: 0;
  width: 648px;
  height: 450px;
  position: absolute;
  background-color: white;
  left: 240px;
}
.banner .menu .menuLi .menuBox .title {
  height: 30px;
  padding: 20px 28px 20px 40px;
  border: 1px solid #eaeaea;
  line-height: 30px;
  width: 578px;
}
.banner .menu .menuLi .menuBox .title a {
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 14px;
}
.banner .menu .menuLi .menuBox .title a:hover {
  color: #ca151d;
}
.banner .menu .menuLi .menuBox .classify {
  padding: 36px 28px 0 40px;
  width: 100%;
  height: 141px;
  box-sizing: border-box;
}
.banner .menu .menuLi .menuBox .classify li {
  float: left;
  margin-bottom: 36px;
}
.banner .menu .menuLi .menuBox .classify li a {
  color: black;
  font-size: 14px;
  padding-right: 30px;
}
.banner .menu .menuLi .menuBox .classify li a:hover {
  color: #ca151d;
}
.banner .menu .menuLi .menuBox .picture {
  position: absolute;
  bottom: 0;
  height: 236px;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
}
.banner .menu .menuLi .menuBox .picture li {
  background: white;
  width: 25%;
  border-right: 1px solid #eaeaea;
  position: relative;
  top: 0;
  transition: all 0.5s;
}
.banner .menu .menuLi .menuBox .picture li:hover {
  transform: translate3d(0px, -2px, 0px);
  top: -3px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.banner .menu .menuLi .menuBox .picture li a {
  text-align: center;
}
.banner .menu .menuLi .menuBox .picture li a .picture_img {
  height: 118px;
  width: 118px;
  margin: 28px auto 0;
}
.banner .menu .menuLi .menuBox .picture li a .picture_img img {
  height: 118px;
  width: 118px;
}
.banner .menu .menuLi .menuBox .picture li a .picture_title {
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  height: 42px;
  width: 129px;
  justify-content: center;
  margin-bottom: 2px;
}
.banner .menu .menuLi .menuBox .picture li a .picture_price {
  color: #cc0e11;
  font-size: 14px;
  margin-top: 8px;
}

.main {
  padding-bottom: 60px;
  background: #f5f5f5;
}
.main h2 {
  margin: 22px 0 12px 0;
  font-size: 22px;
  line-height: 36px;
  font-weight: 600;
  display: inline-block;
}
.main .main_login {
  display: inline-block;
  height: 97px;
  width: 100%;
  background: white;
}
.main .main_login .main_login_left {
  margin: 13px 0;
  height: 72px;
  width: 288px;
  padding: 0 18px 7px 22px;
  box-sizing: border-box;
  border-right: 1px solid #eaeaea;
  float: left;
}
.main .main_login .main_login_left img {
  float: left;
  height: 59px;
  width: 59px;
}
.main .main_login .main_login_left div {
  margin-top: 8px;
  margin-left: 20px;
  float: left;
  width: 168px;
}
.main .main_login .main_login_left div p {
  font-size: 12px;
  color: #a4a4a4;
  line-height: 16px;
  margin-bottom: 5px;
}
.main .main_login .main_login_left div p a {
  text-decoration: underline;
  font-size: 12px;
  color: black;
}
.main .main_login .main_login_left div p a:hover {
  color: #ca151d;
}
.main .main_login .main_login_left div span {
  display: inline-block;
  border: 1px solid #cc0e11;
  color: #cc0e11;
  height: 18px;
  width: 58px;
  font-size: 12px;
  text-align: center;
  line-height: 18px;
  margin-right: 10px;
}
.main .main_login .main_login_left div span:hover {
  background: #cc0e11;
  color: white;
  cursor: pointer;
}
.main .main_login .main_login_center {
  float: left;
  display: flex;
  width: 602px;
  padding: 13px 0;
  border-right: 1px solid #eaeaea;
}
.main .main_login .main_login_center ul {
  width: 100%;
  padding: 8px 0 0;
}
.main .main_login .main_login_center ul li {
  float: left;
  width: 16.66%;
}
.main .main_login .main_login_center ul li a div {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  background: url(../images/login.png);
}
.main .main_login .main_login_center ul li a span {
  font-size: 12px;
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #3a3a3a;
}
.main .main_login .main_login_center ul li a:hover span {
  color: #cc0e11;
}
.main .main_login .main_login_right {
  float: left;
  width: 301px;
}
.main .main_login .main_login_right .main_login_right_top {
  overflow: hidden;
  border-bottom: 1px solid #eaeaea;
}
.main .main_login .main_login_right .main_login_right_top span {
  color: #cc0e11;
  font-weight: 900;
  float: left;
  width: 58px;
  height: 48px;
  text-align: center;
  line-height: 48px;
}
.main .main_login .main_login_right .main_login_right_top .sowingText {
  float: left;
  width: 243px;
  height: 48px;
  position: relative;
  overflow: hidden;
}
.main .main_login .main_login_right .main_login_right_top .sowingText ul {
  position: absolute;
  width: 100%;
  top: 0;
}
.main .main_login .main_login_right .main_login_right_top .sowingText ul li {
  width: 100%;
  height: 100%;
  line-height: 48px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
}
.main .main_login .main_login_right .main_login_right_top .sowingText ul li a {
  color: #3a3a3a;
}
.main .main_login .main_login_right .main_login_right_bottom {
  height: 48px;
  width: 100%;
}
.main .main_login .main_login_right .main_login_right_bottom ul {
  height: 100%;
  display: flex;
}
.main .main_login .main_login_right .main_login_right_bottom li {
  width: 33.3%;
}
.main .main_login .main_login_right .main_login_right_bottom li a {
  display: block;
  height: 100%;
  text-align: center;
  font-size: 12px;
  line-height: 48px;
  color: #3a3a3a;
}
.main .main_login .main_login_right .main_login_right_bottom li a span {
  display: inline-block;
  background: url(../images/login.png);
  height: 20px;
  width: 20px;
  position: relative;
  top: 5px;
  margin-right: 4px;
}
.main .main_login_bottom {
  margin-top: 12px;
}
.main .main_login_bottom ul {
  display: flex;
}
.main .main_login_bottom ul li {
  margin-left: 12px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}
.main .main_login_bottom ul li:nth-child(1) {
  margin-left: 0;
}
.main .main_login_bottom ul li:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}
.main .hot_goods {
  display: inline-block;
}
.main .hot_goods > div > div {
  float: left;
  transition: all 0.5s;
}
.main .hot_goods > div > div:hover {
  z-index: 2;
  transform: translate3d(0, -2, 0);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.main .hot_goods > div ul {
  float: left;
  width: 968px;
}
.main .hot_goods > div ul li {
  width: 232px;
  height: 290px;
  float: left;
  margin: 0 0 10px 10px;
  background: white;
  transition: all 0.5s;
  position: relative;
}
.main .hot_goods > div ul li:hover {
  z-index: 2;
  transform: translate3d(0, -2, 0);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.main .hot_goods > div ul li a {
  color: #3a3a3a;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.main .hot_goods > div ul li a img:first-child {
  height: 148px;
  width: 148px;
  margin-top: 28px;
}
.main .jingPinTuiJian .jptjBox {
  height: 305px;
  overflow: hidden;
  position: relative;
}
.main .jingPinTuiJian .jptjBox ul {
  width: 8937px;
  height: 100%;
  display: flex;
  position: absolute;
}
.main .jingPinTuiJian .jptjBox ul li {
  height: 290px;
  border-left: 1px solid #eaeaea;
  background: white;
  position: relative;
  transition: all 0.5s;
  top: 0;
}
.main .jingPinTuiJian .jptjBox ul li:first-child {
  border-left: none;
}
.main .jingPinTuiJian .jptjBox ul li:hover {
  z-index: 2;
  transform: translate3d(0, -2, 0);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  top: -3px;
}
.main .jingPinTuiJian .jptjBox ul li a {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #3a3a3a;
}
.main .jingPinTuiJian .jptjBox ul li a img:first-child {
  height: 134px;
  width: 134px;
  margin: 38px 41.5px 0;
}
.main .jingPinTuiJian .jptjBox .tip {
  position: absolute;
  height: 75px;
  width: 22px;
  text-align: center;
  line-height: 75px;
  margin-top: -37px;
  top: 50%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.07);
  color: white;
  cursor: pointer;
}
.main .jingPinTuiJian .jptjBox .tip:hover {
  background: rgba(0, 0, 0, 0.3);
}
.main .jingPinTuiJian .jptjBox .tip_left {
  left: 0;
}
.main .jingPinTuiJian .jptjBox .tip_right {
  right: 0;
}
.main .main_sowingMap {
  margin-top: 10px;
  position: relative;
}
.main .main_sowingMap .main_sowingMap_picture {
  height: 120px;
  position: relative;
}
.main .main_sowingMap .main_sowingMap_picture li {
  position: absolute;
  z-index: 2;
  display: none;
}
.main .main_sowingMap .main_sowingMap_tip {
  position: absolute;
  z-index: 10;
  display: flex;
  opacity: 0.3;
  bottom: 10px;
  right: 125px;
}
.main .main_sowingMap .main_sowingMap_tip li {
  height: 10px;
  width: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin-left: 6px;
}
.main .main_sowingMap .main_sowingMap_tip .main_sowingMap_tip_current {
  background: #ce2a32;
}
.main .main_header {
  display: inline-block;
  width: 100%;
  margin: 24px 0 12px 0;
}
.main .main_header h2 {
  font-size: 24px;
  margin: 0;
  float: left;
}
.main .main_header .main_menu {
  float: left;
  margin-left: 28px;
}
.main .main_header .main_menu li {
  float: left;
  line-height: 36px;
}
.main .main_header .main_menu li:hover a {
  color: #ca151d;
}
.main .main_header .main_menu li:hover a:before {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  background: #ca151d;
  bottom: 3px;
  width: 100%;
}
.main .main_header .main_menu li a {
  position: relative;
  display: inline-block;
  color: #a4a4a4;
  margin: 0 10px;
}
.main .main_header .more {
  float: right;
  height: 36px;
  line-height: 36px;
}
.main .main_header .more a {
  font-size: 18px;
  line-height: 18px;
  color: #3a3a3a;
}
.main .main_header .more a:hover {
  color: #ca151d;
}
.main .main_goods {
  margin-left: -12px;
  margin-top: -12px;
  display: inline-block;
}
.main .main_goods li {
  margin-left: 12px;
  margin-top: 12px;
  position: relative;
  top: 0;
  z-index: 1;
  transition: all 0.3s;
}
.main .main_goods li a {
  color: #3a3a3a;
}
.main .main_goods li:hover {
  z-index: 2;
  transform: translate3d(0, -2, 0);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  top: -3px;
}
.main .main_goods .main_goods_hinder {
  width: 291px;
  height: 346px;
  background: #fff;
  float: left;
}
.main .main_goods .main_goods_hinder a {
  display: block;
  height: 100%;
  text-align: center;
}
.main .main_goods .main_goods_hinder a img:first-child {
  display: block;
  height: 178px;
  width: 178px;
  margin: 36px auto 0;
}
.main .main_goods .main_goods_first {
  height: 346px;
  background: #fff;
  float: left;
}
.main .main_goods .main_goods_first a {
  color: #3a3a3a;
  display: block;
  height: 100%;
}
.main .main_goods .main_goods_first a img {
  height: 346px;
}
.main .xinrenhaoli {
  margin-top: 20px;
}

.current {
  background: white;
}

.menuActive {
  opacity: 1;
}

.good_title {
  height: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.good_desc {
  padding-top: 7px;
  font-size: 12px;
  color: #a4a4a4;
}

.good_price {
  padding-top: 7px;
  font-size: 14px;
  color: #cc0e11;
}

.good_price_no {
  padding-top: 7px;
  font-size: 14px;
  color: #a4a4a4;
}

.tips {
  height: 48px;
  width: 48px;
  position: absolute;
  bottom: 107px;
  right: 35px;
}

.main_tips {
  height: 48px;
  width: 48px;
  position: absolute;
  top: 173px;
  right: 49px;
}
