#box {
  width: 100%;
}

.container {
  width: 998px;
  margin: 0 auto;
}

.header {
  background: #f7f7f7;
  height: 67px;
}
.header img {
  float: left;
  margin-top: 17px;
}
.header div div {
  float: left;
  height: 67px;
  font-size: 18px;
  color: #cccccc;
  margin-left: 18px;
  line-height: 67px;
}
.header div div:last-child {
  color: #333;
  font-weight: 600;
}

.main {
  background: #081638;
  height: 590px;
  width: 100%;
}
.main .container {
  background-image: url(../images/login_default_bg.png);
  background-size: 100% 100%;
  position: relative;
}
.main .container .login_box {
  height: 530px;
  width: 380px;
  background: #fff;
  float: right;
  margin-top: 30px;
  position: relative;
}
.main .container .login_box p:first-child {
  padding-left: 50px;
  font-size: 20px;
  color: #B40707;
  font-weight: 600;
  margin: 24px 0 48px;
}
.main .container .login_box .login_error {
  font-size: 12px;
  color: #ff3320;
  display: none;
  position: absolute;
  top: 70px;
  left: 30px;
}
.main .container .login_box .login_error i {
  display: inline-block;
  height: 13px;
  width: 13px;
  background: url(../images/btn_errorInfo.png);
  margin-right: 6px;
}
.main .container .login_box input {
  display: block;
  height: 46px;
  width: 328px;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}
.main .container .login_box .login_in {
  display: block;
  height: 44px;
  width: 328px;
  background: #C70000;
  border-radius: 22px;
  color: #fff;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
}
.main .container .login_box .login_link {
  margin: 30px 0;
  text-align: center;
}
.main .container .login_box .login_link a {
  color: #0064cc;
  font-size: 12px;
}
.main .container .login_box .others_login {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.main .container .login_box .others_login .others_login_title {
  text-align: center;
}
.main .container .login_box .others_login .others_login_title i {
  height: 1px;
  width: 94px;
  display: inline-block;
  margin-bottom: 5px;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .container .login_box .others_login .others_login_title span {
  margin: 0 25px;
  color: #ccc;
  font-size: 12px;
}
.main .container .login_box .others_login .others_login_content {
  text-align: center;
  margin: 10px 0;
}
.main .container .login_box .others_login .others_login_content a {
  display: inline-block;
  height: 42px;
  width: 42px;
  background-image: url(../images/third_login.png);
}
.main .container .login_box .others_login .others_login_content a:nth-child(1) {
  background-position: -72px -9px;
}
.main .container .login_box .others_login .others_login_content a:nth-child(1):hover {
  background-position: -72px -55px;
}
.main .container .login_box .others_login .others_login_content a:nth-child(2) {
  margin: 0 15px;
  background-position: -132px -9px;
}
.main .container .login_box .others_login .others_login_content a:nth-child(2):hover {
  background-position: -132px -55px;
}
.main .container .login_box .others_login .others_login_content a:nth-child(3) {
  background-position: -12px -9px;
}
.main .container .login_box .others_login .others_login_content a:nth-child(3):hover {
  background-position: -12px -55px;
}

.footer {
  height: 48px;
  padding-top: 15px;
  background: #f2f2f2;
}
.footer p {
  font-size: 12px;
  text-align: center;
  color: #999;
  line-height: 24px;
}
.footer p a {
  color: #999;
}
